<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBww3DVt8v--zMU6qGo36MW8DiL8EYgFXs</string>
	<key>GCM_SENDER_ID</key>
	<string>94796923701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recordify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>recordify-e4c57</string>
	<key>STORAGE_BUCKET</key>
	<string>recordify-e4c57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94796923701:ios:b87d20610a4ecea4a0027c</string>
</dict>
</plist>